 .u-section-1 {
  background-image: url("images/vccvv-min.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 1429px;
}

.u-section-1 .u-group-1 {
  min-height: 1087px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 1140px;
  margin: 196px -17px 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding-bottom: 0;
  padding-top: 0;
}

.u-section-1 .u-image-1 {
  width: 616px;
  height: 616px;
  object-position: 0% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: -300px;
  margin: -27px 53px 0 auto;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 5rem;
  margin: -549px 544px 0 133px;
}

.u-section-1 .u-list-1 {
  width: 1034px;
  margin: 73px auto 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 50% 50%;
  min-height: 533px;
  grid-gap: 0px 0px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-1 .u-icon-1 {
  height: 55px;
  width: 55px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 41px auto 0 0;
}

.u-section-1 .u-group-2 {
  width: 296px;
  min-height: 178px;
  margin: -96px 53px 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 1.25rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0;
}

.u-section-1 .u-text-3 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 20px;
}

.u-section-1 .u-icon-2 {
  height: 55px;
  width: 55px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 41px auto 0 0;
}

.u-section-1 .u-group-3 {
  width: 296px;
  min-height: 178px;
  background-size: auto;
  margin: -96px 53px 0 auto;
}

.u-section-1 .u-container-layout-5 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 1.25rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0;
}

.u-section-1 .u-text-5 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px 20px;
}

.u-section-1 .u-icon-3 {
  height: 55px;
  width: 55px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 41px auto 0 0;
}

.u-section-1 .u-group-4 {
  width: 296px;
  min-height: 178px;
  background-size: auto;
  margin: -96px 53px 0 auto;
}

.u-section-1 .u-container-layout-7 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 1.25rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0;
}

.u-section-1 .u-text-7 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px 20px;
}

.u-section-1 .u-icon-4 {
  height: 55px;
  width: 55px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 41px auto 0 0;
}

.u-section-1 .u-group-5 {
  width: 296px;
  min-height: 178px;
  background-size: auto;
  margin: -96px 53px 0 auto;
}

.u-section-1 .u-container-layout-9 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 1.25rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0;
}

.u-section-1 .u-text-9 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1178px;
  }

  .u-section-1 .u-group-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    margin-top: 316px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -758px;
    margin-right: -146px;
    margin-left: 146px;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
    margin-top: 888px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
    min-height: 485px;
  }

  .u-section-1 .u-icon-1 {
    padding: 11px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 20px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-icon-2 {
    padding: 11px;
  }

  .u-section-1 .u-group-3 {
    margin-top: 20px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-icon-3 {
    padding: 11px;
  }

  .u-section-1 .u-group-4 {
    margin-top: 20px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-icon-4 {
    padding: 11px;
  }

  .u-section-1 .u-group-5 {
    margin-top: 20px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 902px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 492px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -934px;
    margin-right: 257px;
    margin-left: 0;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    min-height: 813px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 677px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 540px;
    margin-top: 756px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: -1122px;
    margin-right: 77px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
    margin-top: 812px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 20px 10px 7px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 21px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 17px;
    margin-bottom: -66px;
  }

  .u-section-1 .u-container-layout-4 {
    padding: 20px 10px 7px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 21px;
  }

  .u-section-1 .u-group-3 {
    margin-top: 17px;
  }

  .u-section-1 .u-container-layout-6 {
    padding: 20px 10px 7px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 21px;
  }

  .u-section-1 .u-group-4 {
    margin-top: 17px;
    margin-bottom: -66px;
  }

  .u-section-1 .u-container-layout-8 {
    padding: 20px 10px 7px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: 21px;
  }

  .u-section-1 .u-group-5 {
    margin-top: 17px;
    margin-bottom: -66px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2067px;
  }

  .u-section-1 .u-group-1 {
    margin-bottom: 25px;
    min-height: 1846px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    height: auto;
    margin-top: 280px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: -630px;
    margin-right: -9px;
    margin-left: 9px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 390px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1176px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 0;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-1 .u-group-2 {
    width: 348px;
    min-height: 219px;
    margin: 20px 11px 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding: 0;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 0;
  }

  .u-section-1 .u-group-3 {
    width: 348px;
    min-height: 219px;
    margin-top: 20px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-1 .u-container-layout-6 {
    padding: 0;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 0;
  }

  .u-section-1 .u-group-4 {
    width: 348px;
    min-height: 219px;
    margin: 20px 11px 0;
  }

  .u-section-1 .u-container-layout-8 {
    padding: 0;
  }

  .u-section-1 .u-icon-4 {
    margin-top: 0;
  }

  .u-section-1 .u-group-5 {
    width: 348px;
    min-height: 219px;
    margin: 20px 11px 0;
  }
} .u-section-2 {
  background-image: url("images/041c3ea625c51cb55c1e092ad371c0f1c8e71fbb461aa3b76d09e107aeeb5da4aa131a861bdb7ab644963ad9058b1960c5a9b60401835e12308254_1280.jpg");
  min-height: 1952px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-style: italic;
  margin: 60px auto 0;
}

.u-section-2 .u-list-1 {
  width: 1139px;
  margin: 87px auto 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: 50% 50%;
  min-height: 558px;
  grid-gap: 0px 0px;
}

.u-section-2 .u-list-item-1 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 11px 124px 30px;
}

.u-section-2 .u-icon-1 {
  width: 68px;
  height: 68px;
  margin: 26px auto 0 0;
  padding: 10px;
}

.u-section-2 .u-text-2 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 112px 0 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 33px 0 0;
}

.u-section-2 .u-text-4 {
  margin: 44px 0 0;
}

.u-section-2 .u-list-item-2 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 11px 124px 30px;
}

.u-section-2 .u-icon-2 {
  width: 68px;
  height: 68px;
  margin: 26px auto 0 0;
  padding: 10px;
}

.u-section-2 .u-text-5 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 112px 0 0;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 33px 0 0;
}

.u-section-2 .u-text-7 {
  margin: 44px 0 0;
}

.u-section-2 .u-list-2 {
  width: 1139px;
  margin: 0 auto;
}

.u-section-2 .u-repeater-2 {
  grid-template-columns: 50% 50%;
  min-height: 606px;
  grid-gap: 0px 0px;
}

.u-section-2 .u-list-item-3 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 124px;
}

.u-section-2 .u-icon-3 {
  width: 68px;
  height: 68px;
  background-image: none;
  color: rgb(0, 0, 0) !important;
  margin: 12px auto 0 0;
  padding: 10px;
}

.u-section-2 .u-text-8 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 119px 1px 0;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 19px 1px 0;
}

.u-section-2 .u-text-10 {
  margin: 21px 1px 0 0;
}

.u-section-2 .u-list-item-4 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 124px;
}

.u-section-2 .u-icon-4 {
  width: 68px;
  height: 68px;
  background-image: none;
  margin: 12px auto 0 0;
  padding: 10px;
}

.u-section-2 .u-text-11 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 119px 1px 0;
}

.u-section-2 .u-text-12 {
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 19px 1px 0;
}

.u-section-2 .u-text-13 {
  margin: 21px 1px 0 0;
}

.u-section-2 .u-list-3 {
  width: 1139px;
  margin: -74px auto 60px;
}

.u-section-2 .u-repeater-3 {
  grid-template-columns: 50% 50%;
  min-height: 474px;
  grid-gap: 0px 0px;
}

.u-section-2 .u-list-item-5 {
  background-image: none;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 124px;
}

.u-section-2 .u-icon-5 {
  width: 68px;
  height: 68px;
  margin: 20px auto 0 0;
  padding: 10px;
}

.u-section-2 .u-text-14 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 21px 1px 0;
}

.u-section-2 .u-text-15 {
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 19px 1px 0;
}

.u-section-2 .u-text-16 {
  margin: 21px 1px 0;
}

.u-section-2 .u-list-item-6 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px 124px;
}

.u-section-2 .u-icon-6 {
  width: 68px;
  height: 68px;
  color: rgb(0, 0, 0) !important;
  margin: 20px auto 0 0;
  padding: 10px;
}

.u-section-2 .u-text-17 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 21px 1px 0;
}

.u-section-2 .u-text-18 {
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 19px 1px 0;
}

.u-section-2 .u-text-19 {
  margin: 21px 1px 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 1960px;
    background-position: 50% 50%;
  }

  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 461px;
  }

  .u-section-2 .u-list-item-1 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-list-item-2 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-icon-2 {
    color: rgb(0, 0, 0) !important;
  }

  .u-section-2 .u-list-2 {
    width: 940px;
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: repeat(2, 50%);
    min-height: 500px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-10 {
    margin-right: 0;
  }

  .u-section-2 .u-text-11 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-13 {
    margin-right: 0;
  }

  .u-section-2 .u-list-3 {
    width: 940px;
  }

  .u-section-2 .u-repeater-3 {
    grid-template-columns: repeat(2, 50%);
    min-height: 391px;
  }

  .u-section-2 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-15 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-16 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-17 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-18 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-19 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-list-2 {
    width: 720px;
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-list-3 {
    width: 720px;
  }

  .u-section-2 .u-repeater-3 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-list-2 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-list-3 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 2494px;
  }

  .u-section-2 .u-list-1 {
    width: 370px;
    margin-top: 132px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 774px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 33px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 0;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 0;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.5rem;
    margin-top: 33px;
  }

  .u-section-2 .u-list-2 {
    width: 370px;
    margin-top: 19px;
  }

  .u-section-2 .u-repeater-2 {
    min-height: 770px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 10px;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 0;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.5rem;
    margin-top: 21px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 10px;
  }

  .u-section-2 .u-icon-4 {
    margin-top: 0;
  }

  .u-section-2 .u-text-11 {
    font-size: 1.5rem;
    margin-top: 21px;
  }

  .u-section-2 .u-list-3 {
    width: 370px;
    margin-top: -35px;
    margin-bottom: 46px;
  }

  .u-section-2 .u-repeater-3 {
    min-height: 676px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 0;
  }

  .u-section-2 .u-icon-5 {
    margin-top: 0;
  }

  .u-section-2 .u-text-14 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-container-layout-6 {
    padding-top: 0;
  }

  .u-section-2 .u-icon-6 {
    margin-top: 0;
  }

  .u-section-2 .u-text-17 {
    font-size: 1.5rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1292px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 124px 0 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 124px;
  margin-bottom: 60px;
  background-image: none;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 831px;
}

.u-section-3 .u-container-layout-1 {
  box-shadow: 5px 5px 26px 0 rgba(0,0,0,0.2);
  padding: 30px;
}

.u-section-3 .u-image-1 {
  width: 150px;
  height: 297px;
  margin: 0 auto 0 6px;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 36px auto 0;
}

.u-section-3 .u-text-3 {
  line-height: 1.8;
  margin: 41px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 831px;
}

.u-section-3 .u-container-layout-2 {
  box-shadow: 5px 5px 26px 0 rgba(0,0,0,0.2);
  padding: 30px;
}

.u-section-3 .u-image-2 {
  width: 150px;
  height: 296px;
  margin: 0 auto 0 13px;
}

.u-section-3 .u-text-4 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 40px auto 0;
}

.u-section-3 .u-text-5 {
  line-height: 1.8;
  margin: 38px 0 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 831px;
}

.u-section-3 .u-container-layout-3 {
  box-shadow: 5px 5px 26px 0 rgba(0,0,0,0.2);
  padding: 30px;
}

.u-section-3 .u-image-3 {
  width: 139px;
  height: 292px;
  margin: 13px auto 0;
}

.u-section-3 .u-text-6 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 31px 15px 0 6px;
}

.u-section-3 .u-text-7 {
  line-height: 1.8;
  margin: 38px 0 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 831px;
}

.u-section-3 .u-container-layout-4 {
  box-shadow: 5px 5px 26px 0 rgba(0,0,0,0.2);
  padding: 30px;
}

.u-section-3 .u-image-4 {
  width: 150px;
  height: 297px;
  margin: 0 auto 0 13px;
}

.u-section-3 .u-text-8 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 39px 49px 0 auto;
}

.u-section-3 .u-text-9 {
  line-height: 1.8;
  margin: 38px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1061px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 110px;
    margin-right: 110px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 685px;
  }

  .u-section-3 .u-image-1 {
    margin-top: -109px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: 1px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 685px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 208px;
    margin-left: 66px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 1px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 685px;
  }

  .u-section-3 .u-image-3 {
    margin-top: -91px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 1px;
    margin-right: 6px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 685px;
  }

  .u-section-3 .u-image-4 {
    margin-top: -16px;
    margin-left: 0;
  }

  .u-section-3 .u-text-8 {
    margin-top: 20px;
  }

  .u-section-3 .u-text-9 {
    margin-top: 124px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 433px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    margin-top: -106px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 36px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 211px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 40px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-image-3 {
    margin-top: -88px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 31px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-image-4 {
    margin-top: 143px;
  }

  .u-section-3 .u-text-8 {
    margin-top: 21px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 533px;
  }

  .u-section-3 .u-image-1 {
    margin-top: -7px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.875rem;
    margin-top: 77px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 310px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.875rem;
    margin-top: 77px;
  }

  .u-section-3 .u-image-3 {
    margin-top: 11px;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.875rem;
    margin-top: 77px;
  }

  .u-section-3 .u-image-4 {
    margin-top: 86px;
  }

  .u-section-3 .u-text-8 {
    font-size: 1.875rem;
    margin-top: -15px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 3188px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 54px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 63px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 685px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 0;
    margin-left: 85px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.625rem;
    margin-top: 29px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 659px;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 20px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 0;
    margin-left: 86px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.625rem;
    width: auto;
    margin-top: 19px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: 46px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 690px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.625rem;
    margin-top: 31px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 740px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-4 {
    margin-top: 0;
    margin-left: 85px;
  }

  .u-section-3 .u-text-8 {
    font-size: 1.625rem;
    width: auto;
    margin-top: 38px;
    margin-right: auto;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-top: 46px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 65px auto 0;
}

.u-section-4 .u-image-1 {
  width: 1135px;
  height: 703px;
  margin: 65px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-image-1 {
    width: 940px;
    height: 582px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-image-1 {
    width: 720px;
    height: 446px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-image-1 {
    width: 540px;
    height: 335px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-image-1 {
    height: 225px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-5 {
  background-image: url("images/bg2.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 1493px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 86px -140px 0;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 86px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 1117px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 0 0 34px;
}

.u-section-5 .u-list-1 {
  margin-top: 49px;
  margin-bottom: 0;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  min-height: 986px;
}

.u-section-5 .u-container-layout-2 {
  padding: 12px 0;
}

.u-section-5 .u-icon-1 {
  height: 75px;
  width: 75px;
  background-image: none;
  margin: 8px auto 0 0;
  padding: 19px;
}

.u-section-5 .u-group-1 {
  width: 416px;
  min-height: 291px;
  margin: -83px 20px 0 auto;
}

.u-section-5 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-5 .u-text-2 {
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
}

.u-section-5 .u-text-3 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-5 .u-container-layout-4 {
  padding: 12px 0;
}

.u-section-5 .u-icon-2 {
  height: 75px;
  width: 75px;
  background-image: none;
  margin: 8px auto 0 0;
  padding: 19px;
}

.u-section-5 .u-group-2 {
  width: 416px;
  min-height: 291px;
  background-size: auto;
  margin: -83px 20px 0 auto;
}

.u-section-5 .u-container-layout-5 {
  padding: 0 30px;
}

.u-section-5 .u-text-4 {
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
}

.u-section-5 .u-text-5 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-5 .u-container-layout-6 {
  padding: 12px 0;
}

.u-section-5 .u-icon-3 {
  height: 75px;
  width: 75px;
  background-image: none;
  margin: 8px auto 0 0;
  padding: 19px;
}

.u-section-5 .u-group-3 {
  width: 416px;
  min-height: 291px;
  background-size: auto;
  margin: -83px 20px 0 auto;
}

.u-section-5 .u-container-layout-7 {
  padding: 0 30px;
}

.u-section-5 .u-text-6 {
  margin-top: 0;
  font-weight: 700;
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
}

.u-section-5 .u-text-7 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-5 .u-image-1 {
  min-height: 1117px;
  background-image: url("images/f0af30eb450f5a8ac9f5d445c7b8d3005428e42374e76af572e81baba919cb6845c9abb630178da93d54304e7c26219408c02d12fa0f4e5d92fca7_1280.jpg");
  background-position: 63.94% 50%;
}

.u-section-5 .u-container-layout-8 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1035px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 50px;
    margin-left: 212px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 921px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 40px;
  }

  .u-section-5 .u-list-1 {
    height: auto;
    margin-top: 0;
  }

  .u-section-5 .u-container-layout-2 {
    padding-right: 20px;
  }

  .u-section-5 .u-group-1 {
    width: 317px;
    animation-duration: 1000ms;
    margin-right: 0;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-right: 20px;
  }

  .u-section-5 .u-group-2 {
    width: 317px;
    animation-duration: 1000ms;
    margin-right: 0;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-right: 20px;
  }

  .u-section-5 .u-group-3 {
    width: 317px;
    animation-duration: 1000ms;
    margin-right: 0;
  }

  .u-section-5 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-image-1 {
    background-position: 4.87% 50%;
    min-height: 921px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 775px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 160px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 0;
  }

  .u-section-5 .u-group-1 {
    width: 288px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-5 .u-group-2 {
    width: 288px;
  }

  .u-section-5 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-5 .u-group-3 {
    width: 288px;
  }

  .u-section-5 .u-text-6 {
    font-size: 1rem;
  }

  .u-section-5 .u-image-1 {
    min-height: 661px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1206px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 250px;
    margin-left: 159px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-right: 0;
  }

  .u-section-5 .u-icon-1 {
    margin-top: 27px;
  }

  .u-section-5 .u-group-1 {
    width: 422px;
    margin-right: 65px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-right: 0;
  }

  .u-section-5 .u-icon-2 {
    margin-top: 16px;
  }

  .u-section-5 .u-group-2 {
    width: 422px;
    margin-right: 65px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-right: 0;
  }

  .u-section-5 .u-group-3 {
    width: 422px;
    margin-right: 65px;
  }

  .u-section-5 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    min-height: 992px;
  }

  .u-section-5 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1596px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 52px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 52px;
    margin-bottom: 24px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 50px;
  }

  .u-section-5 .u-group-1 {
    width: 246px;
    margin-right: 0;
  }

  .u-section-5 .u-group-2 {
    width: 246px;
    margin-right: 0;
  }

  .u-section-5 .u-group-3 {
    width: 246px;
    margin-right: 0;
  }

  .u-section-5 .u-image-1 {
    min-height: 680px;
  }
}